html{
	height: 100%;
}

body{
	min-height: 100%;
	/*background-image: url(../../assets/images/bg-1.jpg);*/
	background-size: cover;
	/*background-color: #bfbfc2bf;*/
}

/*#adddar tr td:last-child {
	text-align: left;
	max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
.gm-Corner::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }
.gm-Corner::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: red; }

.dataTable {
	font-size: 15px !important;
}
.page-title{
	border-bottom: 2px solid;
    padding: 10px 10px 10px 2px !important;
    width: fit-content;
}
.lg-wrp{
	padding: 50px;
}
.lg-wrp>.row{
	border-radius: 15px;
	/*-webkit-box-shadow: 0px 0px 40px 10px rgba(255, 234, 234,0.37); 
	box-shadow: 0px 0px 40px 10px rgba(255, 234, 234,0.37);*/
}
.lg-form-1{
	padding: 10px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.lg-form-2{
	background-color: rgb(255, 0, 0,.8);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #fff;
/*	background-image: url(../../assets/images/bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	padding: 20px;
	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center
}
.lg-form-2 p{
	font-size: 14px;
}
.lg-form-2 div{
  	display: inline-block;
  	vertical-align: middle;
  	text-align: center;
}
.lg-form-2 img{
	width: 200px;
}
.lg-form-1 .lg-form {
	padding:50px  50px;
	text-align: center;
}
.lg-form-1 h1{
	color: red;
	text-align: center;
}
.lg-form form{
	margin-top: 40px;
	margin-bottom: 10px;

}
.lg-form form input{
	border-radius: 20px;
}
.lg-form form button{
	background-color: red;
	color: #fff;
	border-radius: 20px;
	-webkit-box-shadow: 10px 12px 34px -12px #000000; 
	box-shadow: 10px 12px 34px -12px #000000;
}
.lg-form form button:hover{
	color: #fff;
}
.lg-form h6{
	color: #7d7676;
}
.lg-form .link-su{
	color: red;
}
.lg-form .sc-media{
	margin-top: 10px;
}
.lg-form .sc-media a{
	padding: 7px;
}
.lg-form .sc-media .fb{
	color: #3b5998 ;
}
.lg-form .sc-media .tw{
	color: #38A1F3 ;
}
.lg-form .sc-media .gp{
	color: #DD4B39 ;
}
.lg-form .sc-media .li{
	color: #4875B4 ;
}

@media only screen and (max-width: 600px) {
	.clock-wedo{
		display: none !important; 
	position: relative !important;
	z-index: 1;
	bottom: 0;
	margin-left: 10px;
	margin-bottom: 10px;
}
.tmdate-display{
background-image: url('../images/Clock%20.png') !important;
	background-size: cover;
    padding: 10px 45px;
    border-radius: 30px;
    background-repeat: no-repeat;

}
.tmdate-display h6{
	display: inline-block;
	font-size: 30px;
}
.tmdate-display h1{
	display: inline-block;
	font-size: 60px;
}

}

/*media css*/
@media (max-width: 767px){
	.lg-form-2{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.lg-form-1{
		border-top-right-radius: 15px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 15px;
	}
	.wedo-clock{
	    display: none;
	}
}

/*navbar style*/
.side-drp-menu{
	text-align: center;
}
.side-drp-menu .emp-image{
	display: inline-block;
}
.side-drp-menu a{
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
	padding: 5px 15px;
    text-align: left;
    text-decoration: none;
}
.side-drp-menu a:hover{
	background-color: red;
	padding: 5px 15px;
	color: #fff !important;
	border-radius: 3px;
	text-align: left;
}
.side-drp-menu a i{
	    text-align: left;
    padding: 0px 10px;
}
.employee-b-info{
	position: absolute;
	z-index: 1;
	right: 15px;
	padding-top: 10px;
	border-radius: 5px;
	background-color: #fff;
	border: 2px solid #ddd;
	display: none;
}
.employee-b-info .emp-image{
	height:  30px;
	width: 30px;
	background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat  !important;
    border-radius: 50px;
    border: 1px solid;
}
 .w-navbar{
      background-color: red;
      padding: 5px 20px;
       overflow:auto;
       position: fixed;
       width: 100%;
       top: 0;
       z-index: 1;
    }
    .w-navbar .lg-dv{
      display: inline-block;
    }
    .w-navbar .lg-dv img{
      height: 42px;
    }
    .w-navbar .lg-dv h4{
      display: inline-block;
      color: #fff;
      vertical-align: middle;
    }
    .w-navbar .lg-dv h4 a{
    	text-decoration: none !important;
    	color: #fff !important;
    	    margin-left: 15px;
    font-size: 18px;
    }
    .w-navbar .right-menu-dv{
      display: inline-block;
      height: 100%;
      padding: 6px;
      float: right;
    }
    .w-navbar .right-menu-dv a{
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }
      .w-navbar .right-menu-dv a img{
        width: 30px;
        border-radius: 20px;
        height: 30px;
      }
    .w-navbar .right-menu-dv a i{
        font-size: 20px;
    }
    .w-navbar .right-menu-dv a{
    	cursor: pointer;
    }
    .w-navbar .right-menu-dv a:hover{
    	color: #fff;
    }
    .dv-nav{
    	margin-top: 52px;
    }
 
/*
sidebar menu style
*/
.collapsed{
	font-size: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.w-navbar .lg-sm-dv img{
	display: none;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.row{
	margin: 0px;
}
.s-menu{
	padding: 0px !important;
	position: fixed;
	z-index: 1;
	height: 93%;
	overflow: auto;
	background-color: #f1ecec87;
}
.w-sidebarmenu{
	
	padding: 20px 10px;
	background-color: #f1ecec87;
	height: 100%;
}
.w-sidebarmenu ul li{
	list-style: none;
	margin-top: 15px;
}
.w-sidebarmenu ul .li-child{
	margin-top: 0px;
}
.w-sidebarmenu ul .li-child:hover{
		background-color: #ff000038;
		border-radius: 2px;
}
.w-sidebarmenu ul {
	padding: 0px; 
}
.w-sidebarmenu ul li a{
	font-size: 15px;
	text-decoration: none;
	color: red;
	display: block;
	padding: 5px 10px;
}
.w-sidebarmenu ul li i{
	padding-left: 5px;
	padding-right: 20px;
	color: red;
}
.popover-header{
	background-color: #ff000038;
	    font-size: 14px;
}
.popover-body{
	font-size: 12px;
}
.report-i{
	display: none;
}
.report-i .report-i{
	padding-left: 40px;
}
.report-i .toggle-header{
	margin-top: 0px !important;
	
}
.report-i .toggle-header-main{
	margin-top: 0px !important;
	
}
/*e201 design*/
.com-container{
	width: 300px;
	height: 400px;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	right: 5px;
	z-index: 1;
	border: 1px solid #ddd;
	display: none;
}
.com-header{
	display: block;
	height: 40px;
	background-color: #fff;
	text-align: left;
	padding: 5px;
}
.com-header h5{
	color: #fff;
	display: inline-block;
}
.com-header i{
	float: right;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}
.com-send-m{
	position: absolute;
	bottom: 0;
	width: 100%;
	border: 1px solid #ddd;
}
.com-send-m input{
	display: inline-block;
	width: 84%;
}
.com-send-m input{
	display: inline-block;
}
.com-messages{
	overflow: scroll;
	height: 80%;
	padding: 5px 10px;
}
.com-messages .r-message p{
	padding: 5px;
	background-color: #9b9898;
	color: #fff;
	display: inline-block;
	margin-bottom: 3px;
	border-radius: 3px;
}
.com-messages .s-message{
	text-align: right;
}
.com-messages .s-message i,.com-messages .r-message i{
	font-size: 9px;
}
.com-messages .s-message p{
		padding: 5px;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;

	display: inline-block;
	margin-bottom: 3px;
	border-radius: 3px;
}
.btn-active{
	background-color: #fff;
	color: #000;
	border-bottom: 0px;
	z-index: 0 !important;
}
.bg-none{
	background-image: none !important;
}
.msg{
	display: block;
	width: 100%;
	padding: 10px;
	float: right;
}
.msg a{
	float: right;
	color: red;
}
.msg a i{
	    background-color: #ff0000;
    color: #fff;
    padding: 2px 10px;
    border-radius: 6px;
    margin-left: 5px;
}
.toggle-btn{
	float: right;
}
.dropdwn-title{
	cursor: pointer;
	margin-top: 30px;
	font-size: 13px;
	color: red;
}
.pd-none .dropdwn-title{
	margin-top: 25px;
}
.tbl-hide{
	
}
.prof-img{
	width: 300px;
	height: 300px;
	background-size: cover;
}
.emp-name{
	color: red;
}
.emp-company{
	font-size: 15px;
	color: #747272;
}
#empdepartment>option{
	display: none;
}
#empis>option{
	display: none;
}
#idempposition>option{
	display: none;
}
.bsc-show{
	cursor: pointer;
}
.bsc-hide,.bsc-hide1,.bsc-hide2{
	display: none;
}
.emp-pos{
	margin-bottom: 2px;
}
.cinfo-title{
	margin-top: 30px;
	font-size: 13px;
	color: red;
}
.cinfohr{
	margin: 0px;
}
.p-info{
	padding: 0px;
}
.p-info .ci-det th{
	border: 0px !important;
	padding-top: 10px !important;
	padding-bottom: 0px !important;
}
.info-t{
	padding-left:0px !important;
	color: #7b7f82;
}
.emp-details{
}
.pd-none{
	padding: 0px;
}
.pd-none .ci-det th{
	padding-bottom: 0px;
}
.emp-details th{
	border: 0px !important;
}
.emp-details .det-f{
	padding: 0px;
	color: #7b7f82;
	font-size: 15px;
    vertical-align: middle;
    padding-top: 10px;
}
.emp-details .com_number{
	padding: 0px;
    font-size: 14px;
    width: 50%;
    padding-top: 10px;
}
.emp-details .cdd-tr{
	padding-top: 10px;
}
.ed-st tr th{
	padding-left: 0px;
}
.ed-st .info-t th{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.emp-details .det-i{
	padding: 0px 15px;
	color: #000;
}
.emp-details .current-prev{
	font-size: 12px;
	color: #939191;
}
.title-noclick{
	cursor: unset;
}
.title-noclick i{
	cursor: pointer;
}
.e-files .col-lg-1{
	text-align: center;
	padding: 0px;
	line-height: 0.9;
}
.e-files a{
	color: #000;
	font-size: 12px;
	font-weight: 700;
	 -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    letter-spacing: -1px;
}
.e-files i{
	font-size: 30px;
	color: #a60000;
	display: block;
}
.mdl-files{
	max-width: 760px;
}
.tbld th{
	padding-top: 15px;
	padding-left: 10px;
}
.tbld .info-t{
	width: 200px;
}
.wd-search{
	position: fixed;
	z-index: 1;
	    top: 7px;
    right: 190px;
}
.wd-search input{
	vertical-align: middle;
	display: inline-block;
	width: 80%;
}
.wd-search button{
	vertical-align: middle;
}
.wd-search>form>div{
	margin-bottom: 0px !important;
}
.dv-livesearch{
	background-color: #fff;
}
.dv-livesearch a{
	text-transform: uppercase;
	padding-top: 10px;
	display: block;
	text-align: left;
		border: 1px solid #ffdddd;
        border-top: none;
        cursor: pointer;
        font-size:12px;
}
.dv-livesearch a:hover{
	
	background:#fc7b7b;

}

/*home */
.clock-wedo{
	position: fixed;
	z-index: 1;
bottom: 0;
margin-left: 10px;
margin-bottom: 10px;
}
.tmdate-display{
	background-image: url('../images/Clock%20.png');
	background-size: cover;
    padding: 10px 45px;
    border-radius: 30px;
    background-repeat: no-repeat;

}
.tmdate-display h6{
	display: inline-block;
	font-size: 30px;
}
.tmdate-display h1{
	display: inline-block;
	font-size: 60px;
}

.home-container{
	    padding: 10px;
    border-radius: 5px;
    /*border: 1px solid #b2b0b0;*/
    margin-bottom: 10px;
}
/*new employee*/
.ne-addpl{
	color: green !important;
	cursor: pointer;
}
.cl-citizen{
	position: absolute;
    z-index: 0;
    background-color: #fffefe;
    margin-top: -16px;
}
.cl-citizen a{
	background-color: #fff;
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: pointer;
}
.cl-citizen{
	display: none;
}
.cl-reli a{
	background-color: #fff;
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: pointer;
}
.cl-reli{
	position: absolute;
    z-index: 0;
    background-color: #fffefe;
    margin-top: -16px;
}
.cl-reli{
	display: none;
}
/*login style*/
.wd-login h4{
	padding: 20px 0px 10px 0px;
}
.wd-login button{
	padding: 10px 13px !important;
	font-size: 14px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	border-radius: 15px;
border: none;
}
.lilosave{
		background-color: #fc2b34;
		border: 1px solid #fc2b34;
		text-transform: uppercase;
		padding: 10px 25px !important;
		font-size: 20px !important;
}
.lilosave:hover,.lilosave:active,.lilosave:focus{
		background-color: #fc2b34 !important;
}
.wd-login form{
	padding-top: 10px;
}
.wd-login form>div{
	display: none;
}

.wd-login form>.frm-ci{
	display: flex;
}
.wd-login .form-group i{
	color: red;
}
.frm-prf .prof-pic{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.frm-prf>div{
	text-align: center;
}
#profpicup{
	margin-top: 10px;
}
.required-f{
	color: red;
	font-size: 12px;
}
.comlogopic,.comcolorpick{
	width:300px;
	height: 100px;
	border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
#eovw{
	font-size: 15px !important;
}
.comcolorlogo{
	display: none;
}
/*module design*/
.module-content{
	padding-top: 10px;
}
.module-content label{
	font-weight: 700;
}
#newform .modal-dialog{
	max-width: 845px !important;
	width: auto;
}
.module-content .module-title-history{
	padding-top: 10px;
	display: inline-block;
}
.module-content .dtpar{
	display: inline-block;
	float: right;
}
.module-content .dtpar h5{
	padding-right: 10px;
}
.module-content .dtpar h5,.module-content .dtpar label,.module-content .dtpar input{
	display: inline-block;
	width: auto;
	font-size: 14px;
}
.module-content .table{
	font-size: 14px;
}
.module-content .ob-body .a{
	padding-left: 0px;
}